<h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <td></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <td><%= @book.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </tbody>
  </table>
