<h1>Vocabulary Note</h1>

<div class="btn btn-info col-xs-3"><%= link_to "login", new_user_session_path %></div>
<div class="btn btn-success col-xs-3"><%= link_to "sign up", new_user_registration_path %></div>